{ns}backTop
  position: fixed; z-index: 99; transition: all .5s;
  a 
   display: block; padding: 10px; color: #fff; text-align: center; border-radius: 2px; background: #2d8cf0; cursor: pointer;
   &:hover
     border-color: #68b2ff; background-color: #68b2ff; color #fff
     
  
