{ns}badge
  display inline-block
  position relative
  span
    padding: 12px 20px
    border: 1px solid #dcdfe6
    box-sizing: border-box
    border-radius: 4px
    font-size: 14px
  .Dot 
    background-color #f56c6c
    border-radius:50%
    display inline-block
    height 8px
    width 8px
    position absolute
    top -12px
    right 0
    transform: translateX(100%) translateY(-50%)
    
  .valueDot 
    position: absolute;
    top -12px
    right 0
    transform: translateX(50%) translateY(-50%)
    background-color: #f56c6c;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #fff;
    

    
    
    