{ns}collapse
  .collapse-panel
    border-bottom: 1px solid #ebeef5
    overflow hidden
    .collapse-title
      height 50px
      line-height: 50px
    .collapse-content
      padding: 10px
      transition: all .3s
      overflow hidden